@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    overflow: hidden;

}

.container{
    display: flex;
    /* flex 영역 못나가게 함 */
    flex-wrap: wrap;
    justify-content: space-around;
    width: min(1000px, 100%);
    margin: auto;
}
.box{
    position: relative;
    width: 450px;
    height: 320px;
    background: #000;
    margin: 25px auto;
}
.box .videoBx{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.videoBx video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.contentBx{
    position: absolute;
    top: 40px;
    bottom: 40px;
    right: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.95);
    transition: transform 0.5s;
    transform-origin: right;
    transform: scaleX(0);
}
.box:hover .contentBx{
    transition: transform 0.5s;
    transform-origin: left;
    transform: scaleX(1);
    opacity: 0.9;
}
.content{
    position: relative;
    padding: 20px 60px;
    opacity: 0;
    user-select: none;
}
.box:hover .content{
    opacity: 1;
    transition: 0.5s;
    transition-delay: 0.5s;
}
.content h3{
    color: #fff;
    font-weight: 500;
    margin-bottom: 10px;
}
.content h4{
    color: #fff;
    font-weight: 500;
    margin-bottom: 20px;
}
.content p{
    color: #fff;
    font-weight: 300;
}